<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  </head>

  <!-- Google Tag Manager --> 
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KBVR58XX');</script>
  <!-- End Google Tag Manager -->
  
  <body>
    {{ skip_to_content_link }}

    <!-- Google Tag Manager (noscript) --> 
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KBVR58XX"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}

    <script>
      // Checkboxes
      setInterval(function() {
        var fieldset = document.querySelector('.fieldset-description');
        if (fieldset) {
          var addressFields = document.querySelector('.address-fields');
          fieldset.className = 'field field--show-floating-label';
          addressFields.parentNode.insertBefore(fieldset, addressFields.nextSibling);
          fieldset.querySelector('label[for=checkout_buyer_accepts_marketing]').textContent = "Keep me up to date on Shop Good Table news, reminders and offers by email.";
          var checkbox = document.createElement('div');
          checkbox.innerHTML = '<div class="field field--show-floating-label" data-buyer-accepts-marketing="">' +
              '<div class="section__content">' +
              '  <div class="checkbox-wrapper">' +
              '    <div class="checkbox__input">' +
              '      <input name="checkout[attributes][share_with_gm]" type="hidden" value="0" autocomplete="off"><input class="input-checkbox" data-backup="X" type="checkbox" value="1" name="checkout[attributes][share_with_gm]" id="checkout_share_with_gm" required>' +
              '    </div>' +
              '    <label class="checkbox__label" for="checkout_share_with_gm">I accept the General Mills <a href="https://www.generalmills.com/privacy-security/us-english-privacy-policy" target="_blank">Privacy Policy</a> and agree that my information may be used across the General Mills <a href="https://www.generalmills.com/food-we-make/brands" target="_blank">family of brands</a>. I also agree to the <a href="/pages/shipping-policy" target="_blank">Shipping</a> and <a href="/pages/return-policy" target="_blank">Returns</a> policies and  understand that Shop Good Table may send me emails relating to this specific transaction/purchase.</label></div>' +
              '    <!--p style="margin-left: 28.5px;">By continuing, you agree to our <a href="https://www.generalmills.com/en/Company/privacy-policies/privacy-policy-cookie-US-English" target="_blank">Privacy Policy</a> and <a href="https://www.generalmills.com/en/Company/legal-terms" target="_blank">Terms</a>. All transactions are subject to our <a href="/pages/shipping-policy" target="_blank">Shipping</a> and <a href="/pages/return-policy" target="_blank">Return policies</a>.</p-->' +
              '  </div>' +
              '</div>';
          addressFields.parentNode.insertBefore(checkbox, fieldset);
          document.querySelector("input[name='checkout[remember_me]']").closest('.field').style.display = 'none';
          document.getElementById('checkout_buyer_accepts_marketing').checked = false;
          document.getElementById('checkout_share_with_gm').checked = false; //{% if checkout.attributes.share_with_gm == '0' %}false{% else %}true{% endif %};
          document.querySelector('form.edit_checkout').removeAttribute('novalidate');
        }
      }, 250);
    </script>
    <script>
      let ga_unique_id = getCookie('ga_unique_id');
      let checkout_items = [
        {% for line_item in checkout.line_items %}
          "{{ line_item.title }}",
        {% endfor %}
      ]
      let checkout_item_quantities = [
        {% for line_item in checkout.line_items %}
          "{{ line_item.quantity }}",
        {% endfor %}
      ]

      function decodeHTML(html) {
        var txt = document.createElement('textarea');
        txt.innerHTML = html;
        return txt.value;
      }

      checkout_items = checkout_items.map(element => decodeHTML(element));
      let purchasedGAAction = '';
      for (i = 0; i < checkout_items.length; i++) {
        purchasedGAAction += checkout_item_quantities[i] + 'x' + checkout_items[i];
        if (checkout_items.length > 1 && i < checkout_items.length - 1) {
          purchasedGAAction += ', ';
        }
      }

      function eventConversion() {
        if(Shopify.Checkout.step === "thank_you"){
          dataLayer.push({
            'event': 'purchase_completed',
            'purchased_items': purchasedGAAction,
            ga_unique_id,
          });
          eraseCookie('ga_unique_id');
        } else {
          console.log("script loading")
          setTimeout(eventConversion, 500);
        }
      };
      eventConversion();

      function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
          var c = ca[i];
          while (c.charAt(0)==' ') c = c.substring(1,c.length);
          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
      }
      function eraseCookie(name) {
        document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      }
    </script>
  </body>
</html>
